html,
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

body, button, input {
  font-family: "Roboto", "Arial", sans-serif;
  color: #000000;
  font-weight: normal;

}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

img {
  max-width: 100%;
}

::-moz-selection {
color: #FFFFFF;
background-color: #81B3D2;
}

body > input[type="radio"] {
  display: none;
}

.site-wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #859D8F;
  background-image: url("..//img/slide1.png");
  background-repeat: no-repeat;
  background-position: top center;
  box-shadow-left: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  -mos-transition: background-image 0.5s ease, background-color 0.5s ease;
  -webkit-transition: background-image 0.5s ease, background-color 0.5s ease;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("..//img/slide2.png");
}

.site-wrapper::after {
  background-image: url("..//img/slide3.png");
}

.content-wrapper {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
  background-color: #859D8F;
}

.header-main {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 13px;
  position: relative;
}

.logo {
  position: absolute;
  left: 0;
  top: 9px;
}

.main-menu {
  display: flex;
  width: 674px;
  margin-left: 154px;
  padding-left: 0;
}

.main-menu li {
  list-style: none;
  margin-right: 27px;
}

.main-menu a {
  color: #ffffff;
}

.controls {
  display: flex;
  height: 32px;
  margin-left: 30px;
}

.btn-control {
  margin-right: 10px;
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  border: none;
  border-radius: 50px;
}

.search {
  width: 32px;
  border-radius: 50%;
  background: #A0B4A9 url("..//img/glass.png") no-repeat;
  background-position: center;
}

.entry {
  width: 93px;
  text-align: right;
  padding-right: 17px;
  background: #A0B4A9 url("..//img/enter.png") no-repeat;
  background-position: 18px center;
}

.backet {
  width: 117px;
  margin-right: 0;
  padding-left: 18px;
  background: #A0B4A9 url("..//img/backet.png") no-repeat;
  background-position: 16px center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #ffffff;
  font-weight: bold;
}

.working {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
}

.telephon {
  font-size: 22px;
  line-height: 24px;
}

.slider {
  position: relative;
  padding-top: 273px;
  text-align: center;
  color: #ffffff;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  padding-bottom: 40px;
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
}

.slide-btn {
  padding: 12px 45px;
  font-weight: bold;
  font-size: 31px;
  line-height: 42px;
  text-shadow: 0 2px 5px rgba(153, 51, 0, 0.76);
}

.style-btn {
  color: #ffffff;
  text-decoration: none;
  border: none;
  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #ff3333 0%, #ff6633 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(153, 0, 0, 0.64);
}

.slider-controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 446px;
  left: 0;
  width: 80px;
  height: 20px;
  z-index: 20;
}

.slider-controls label {
  width: 17px;
  height: 17px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-slide1:checked ~ .site-wrapper #slide1,
#btn-slide2:checked ~ .site-wrapper #slide2,
#btn-slide3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-slide1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("..//img/slide1.png");
}

#btn-slide2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("..//img/slide2.png");
}

#btn-slide3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("..//img/slide3.png");
}

#btn-slide1:checked ~ .site-wrapper label[for="btn-slide1"],
#btn-slide2:checked ~ .site-wrapper label[for="btn-slide2"],
#btn-slide3:checked ~ .site-wrapper label[for="btn-slide3"] {
  background-color: #ffffff;
}

.container-banner {
  display: flex;
  justify-content: space-between;
  margin-top: 53px;
  margin-bottom: 40px;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 520px;
  height: 190px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 24px;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  position: relative;
}

.raspberry {
  background: #A42145 url("..//img/raspberry.jpg") no-repeat;
}

.chocolate {
    background: #4E2B18 url("..//img/chocolate.jpg") no-repeat;
}

.banner h2 {
  margin: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.banner p {
  margin-top: -12px;
  font-size: 18px;
  line-height: 22px;

}

.banner1-btn,
.banner2-btn {
  width: 165px;
  height: 44px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  align-self: flex-end;
}

.banner2-btn {
  width: 190px;
}

.hit-btn {
  display: none;
  width: 200px;
  height: 34px;
  margin-top: 10px;
  margin-left: 34px;
  padding-top: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
}

.hit-container {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.hit-item {
  width: 267px;
  list-style: none;
  position: relative;
  text-align: center;
}

.hit-img img {
  width: 267px;
  border-radius: 50%;
  margin-bottom: 8px;
}

.hit-sign {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  background: #ffffff url("..//img/hit.png") no-repeat;
  border-radius: 50%;
  z-index: 10;
}

.price {
  position: absolute;
  top: 210px;
  left: 0;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  color: #ffffff;
}

.price small {
  font-size: 26px;
}

.hit-link {
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  text-align: center;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

.technology {
  width: 1106px;
  height-min: 266px;
  margin-top: 40px;
  padding: 23px 20px 0 20px;
  color: #333333;
  font-weight: normal;
  border: none;
  border-radius: 15px;
  background: #E8D8BB url("..//img/bg1.jpg") repeat;
}

.technology h2 {
  margin: 0;
  color: #333333;
  font-size: 24px;
  line-height: 30px;
  font-weight: normal;
}

.techno {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  padding-bottom: 6px;
}

.techno-item {
  width: 480px;
  list-style: none;
  padding-top: 5px;
  padding-left: 60px;
  margin-bottom: 18px;
  color: #333333;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  position: relative;
}

.techno-item::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  width: 49px;
  height: 49px;
  background-repeat: no-repeat;
}

.item1::before {
  background-image: url("..//img/icecream.png");
}

.item2::before {
  background-image: url("..//img/cow.png");
}

.item3::before {
  background-image: url("..//img/sheet.png");
}

.item4::before {
  background-image: url("..//img/degree.png");
}

.container-blog {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

.news {
  width: 520px;
  height: 180px;
  padding: 20px;
  color: #333333;
  border: none;
  border-radius: 15px;
  background: #ffffff url("..//img/strawberries.jpg") no-repeat;
}

.news h2 {
  margin: 0;
  margin-bottom: 9px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400px;
}

.news a {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #333333;
  text-decoration: none;
  border-bottom: 2px solid #333333;
}

.subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 560px;
  height: 220px;
  padding: 0;
  border: none;
  border-radius: 15px;
  background-image: url("..//img/envelope.jpg");
  background-repeat: repeat;
}

.subscribe h2 {
  font-size: 0;
}

.subscribe-form {
  width: 510px;
  height: 180px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  color: #333333;
  border: none;
  border-radius: 15px;
  background-color: #F8F7F4;
}

.subscribe-form p {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
}

.subscribe-form label {
  font-size: 0;
}

.subscribe-form input {
  width: 350px;
  height: 42px;
  padding-left: 12px;
  margin-right: 8px;
  color: #999999;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  border: 1px solid #999999;
  border-radius: 5px;
}

.form-btn {
  width: 128px;
  height: 44px;
  margin-top: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
}

.feedback {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: #849D8F;
  background-image: url("..//img/map.jpg");
  background-repeat: no-repeat;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 276px;
  height: 248px;
  padding-top: 30px;
  padding-left: 24px;
  padding-bottom: 30px;
  margin-top: 61px;
  margin-right: 27px;
  margin-bottom: 60px;
  border: none;
  border-radius: 15px;
  background-color: #FFFEFE;
}

.contact h2,
.contact p {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  font-weight: normal;
}

.contact p {
  margin-top: 0;
  margin-bottom: 23px;
}

.contact span {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.adress {
  margin-bottom: 20px;
}

.contact-btn {
  display: block;
  width: 250px;
  height: 34px;
  padding-top: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  align-items: center;
}

.footer-bottom {
  width: 100%;
  height: 110px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 27px;
  padding-right: 27px;

}

.footer-social {
  display: flex;
  justify-content: flex-start;
  width-min: 200px;
  height: 38px;
  font-size: 0;
}

.social-btn {
  width: 30px;
  height: 30px;
  margin-right: 11px;
  opacity: .8;
  border: 4px solid #C2CEC7;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.social-btn-insta {
  background-image: url("..//img/insta.png");
}

.social-btn-tw {
  background-image: url("..//img/tw.png");
}

.social-btn-fb {
  background-image: url("..//img/fb.png");
}

.social-btn-vk {
  background-image: url("..//img/vk.png");
}

.footer-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 315px;
  padding-left: 20px;
  position: relative;
}

.link-docum {
  display: flex;
  flex-direction: column;
}

.link-docum a,
.footer-copyright span > a {
  align-self: flex-start;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.main-link a {
  font-weight: bold;
  position: relative;
}

.main-link::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 15px;
  height: 13px;
  background-image: url("..//img/hart.png");
  background-repeat: no-repeat;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

/* Внутренняя страница - каталог */

.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}
